<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aiml Chatbot</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="javascript.js"></script>
</head>
<body>
	<div class="chatBox">
		<div class="top"></div>
		<div class="messagesBox" id="messagesBox"></div>
		<div class="messageInput">
			<form method="post">
			<textarea type="text" name="message" placeholder="Type a message here..." id="messageInput" rows="2"></textarea>
			</form>
		</div>
	</div>
</body>
</html>