html, body
{
    height: 96%;
}

.chatBox
{
height: 100%;
width: 600px;
margin: 0px auto;
    margin-top: 0px;
display: block;
border: 1px solid
#aaa;
border-radius: 16px;
margin-top: 1.8%;
overflow: hidden;
}

.top{
	width: 100%;
	background: rgb(31, 115, 183);
	height: 6%;
}

.messagesBox{
width: 100%;
height: 78%;
display: block;
overflow-y: scroll;
padding: 20px 0px;
box-sizing: border-box;
margin-bottom: 3%;

}

.messageInput{
	height: 14%;
	width: 100%;
	display: block;
}

#messageInput{
	width:93%;
	margin: 0px auto;
	display: block;
	height: 76%;
	margin-top: 0%;
	border-radius: 5px;
	border:1px solid #aaa;
	padding: 10px;
	box-sizing: border-box;
	resize: none;
}

.userMessage{
min-width: 3%;
max-width: 70%;
clear: both;
display: block;
float: right;
background:
rgb(31, 115, 183);
border-radius: 20px;
padding: 9px 15px;
min-height: 20px;
margin: 2px 8px;
color:
#fff;
font-family: Arial;
font-size: 15px;
word-break: break-all;

}

.botMessage{
	min-width: 3%;
max-width: 70%;
clear: both;
display: block;
float: left;
background:
#f1f1f1;
color:
#777;
border-radius: 20px;
padding: 9px 15px;
min-height: 20px;
margin: 2px 8px;
font-family: Arial;
font-size: 15px;
word-break: break-all;
}